<script
        type="application/json"
        data-section-type="static-collection"
        data-section-id="{{ section.id }}"
        data-section-data>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
        "see_less": {{ 'general.general.see_less' | t | json }}
    },
      {% if settings.product_enable_recently_viewed_products %}
      "time": {
        "second": {{ 'general.time.second' | t | json }},
          "seconds": {{ 'general.time.seconds' | t | json }},
            "minute": {{ 'general.time.minute' | t | json }},
              "minutes": {{ 'general.time.minutes' | t | json }},
                "hour": {{ 'general.time.hour' | t | json }},
                  "hours": {{ 'general.time.hours' | t | json }},
                    "ago": {{ 'general.time.ago' | t | json }}
      }
    {% endif %}
  }
</script>
<section class="product-row--container product-recently-viewed--section">
    {% if section.settings.title != blank %}
    <h1 class="h1 customTitle home-section--title">
        {{ section.settings.title | escape }}
    </h1>
    {% endif %}
  <div class="product-recently-viewed-wrapper">
    <!--<div class="product-recently-viewed-header">-->
      <!--<h3 class="product-recently-viewed-heading">-->
        <!--{{ section.settings.title }}-->
      <!--</h3>-->
      <!--<span-->
            <!--class="product-recently-viewed-clear"-->
            <!--data-clear-recently-viewed-->
            <!--&gt;-->
        <!--{{ 'general.time.clear' | t }}-->
      <!--</span>-->
    <!--</div>-->

    <div
         class="
                product-section--content
                product-recently-viewed--content
                imagestyle--{{ settings.product_grid_image_style }}
                "
         data-recently-viewed-container
         ></div>
  </div>
</section>

{% schema %}

{
    "name": "Recently View",
    "class": "collection--section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recently Viewed"
        }
    ],
    "presets": [
        {
            "name": "Recently View",
            "category": "Collection"
        }
    ]
}

{% endschema %}