<section id="starter-kit"class="page-brewing__column text-center" style="background-image: url({{section.settings.img_bg | img_url: "2048x"}})">
  <div class="container">
    <h2>{{section.settings.title}}</h2>
    {{section.settings.text}}
    <div class="brewing-column__wrapper">
      {%for block in section.blocks%}
      {%if block.type == "column"%}
      <div class="brewing-column__item">
        <a href="{{block.settings.url}}">
          {{block.settings.image | img_url:"original" | img_tag}}
          <h3>{{block.settings.title}}</h3>
          {{block.settings.text}}
        </a>
      </div>
      {%endif%}
      {%endfor%}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Page Brewing Column",
    "settings": [
          {
            "type": "image_picker",
            "id": "img_bg",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Banner Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
	],
    "blocks":[
          {
            "type": "column",
            "name": "Column with image",
            "settings": [
              {
                "type": "image_picker",
                "id": "image",
                "label": "Image Column"
              },
              {
                "type": "url",
                "id": "url",
                "label": "Link Site"
              },
              {
                "type": "text",
                "id": "title",
                "label": "Title Column"
              },
              {
                "type": "richtext",
                "id": "text",
                "label": "Text Column"
              }
            ]
      }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
