<div id="shopify-section-static-collection" class="shopify-section collection--section">

  <script
    type="application/json"
    data-section-type="static-collection"
    data-section-id="static-collection"
    data-section-data>
    {
      "context": {
        "see_more": {{ 'general.general.see_more' | t | json }},
        "see_less": {{ 'general.general.see_less' | t | json }}
      }
    }
  </script>

  <div class="productgrid--outer layout--has-sidebar search-template">
    <div class="productgrid--masthead">
      {%
        include 'breadcrumbs'
      %}

      {%
        include 'page-search-form',
        enable_content: true
      %}

      <p class="bc-sf-search-result-number"></p>
    </div>

    <div class="productgrid--sidebar">
      <div class="productgrid--sidebar-section">
        <div id="bc-sf-filter-tree2">&nbsp;</div>
      </div>
    </div>

    <div class="productgrid--wrapper">
      <nav class="productgrid--utils productgrid--utils--visible-mobile">
        <div id="bc-sf-filter-top-sorting" class="productgrid--utils utils-sortby"></div>
        <ul id="bc-sf-filter-top-show-limit" class="productgrid--utils utils-showby"></ul>
        {% comment %}
        <div class="productgrid--utils utils-view">
          <div class="utils-view-container">
              <ul id="bc-sf-filter-top-show-limit" class="utils-showby"></ul>
          </div>
        </div>
        {% endcomment %}
      </nav>

      <div id="bc-sf-filter-tree-mobile"></div>
      <div id="bc-sf-filter-tree"></div>

      <div id="bc-sf-filter-products" class="productgrid--items"></div>

      <div id="bc-sf-filter-bottom-pagination"></div>
      <div id="bc-sf-filter-load-more"></div>
    </div>
  </div>

  {%-
    include 'product-grid-sortby',
    type: 'modal',
  -%}
</div>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      refine: "{{ 'product_filter_search.refine' | t }}",
      refine_mobile: "{{ 'product_filter_search.refine_mobile' | t }}",
      clear: "{{ 'product_filter_search.clear' | t }}",
      clear_all: "{{ 'product_filter_search.clear_all' | t }}",
      apply: "{{ 'product_filter_search.apply' | t }}",
      breadcrumb_home: "{{ 'general.breadcrumbs.home' | t }}",
      load_more: {% assign temp = 'product_filter_search.load_more' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Load more Products" {% endunless %},
      show_limit: {% assign temp = 'product_filter_search.show_limit' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Show" {% endunless %},
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
        
      sale: "{{ 'product.item.badges.sale' | t }}",
      sold_out: "{{ 'product.item.badges.sold_out' | t }}",  
      prev: "{{ 'general.pagination.prev' | t }}",
      next: "{{ 'general.pagination.next' | t }}",
      show_per_page: "{{ 'product_grid.show_per_page.title' | t }}",
      add_to_cart: {{ 'product.buttons.add_to_cart' | t | json }},
      sold_out: {{ 'product.buttons.sold_out' | t | json }},
      see_more: {{ 'general.general.see_more' | t | json }},
      see_less: {{ 'general.general.see_less' | t | json }},
      quick_look_text: "{{ 'product.buttons.quick_look' | t }}",
      quick_buy_text: "{{ 'product.buttons.add_to_cart' | t }}",
      quick_choose_options: "{{ 'product.buttons.choose_options' | t }}",
      sale_percentile_html: "{{ 'product.item.badges.sale_percentile_html' | t }}",
      sale_money_html: "{{ 'product.item.badges.sale_money_html' | t }}",
      range_html: '{{ 'product.item.price.range_html' | t }}',
    },
    custom: {
      products_per_page: 24,
      emphasize_price: {% if settings.product_grid_emphasize_price != nil %} {{ settings.product_grid_emphasize_price }} {% else %} true {% endif %},
      enable_quick_look: {% if settings.product_grid_quick_look != nil %} {{ settings.product_grid_quick_look }} {% else %} true {% endif %},
      enable_quick_buy: {% if settings.product_grid_quick_buy != nil %} {{ settings.product_grid_quick_buy }} {% else %} true {% endif %},
      show_modal: {% if settings.product_grid_quick_look != nil %} {{ settings.product_grid_quick_look }} {% else %} true {% endif %},
      product_grid_image_style: {% if settings.product_grid_image_style != nil %} "{{ settings.product_grid_image_style }}" {% else %} "natural" {% endif %},
      product_ratings_reviews: {% if settings.product_ratings_reviews != nil %} {{ settings.product_ratings_reviews }} {% else %} true {% endif %},
      product_cart_redirect: "{{ settings.product_cart_redirect | json }}",
      product_sales_badge: {% if settings.product_sales_badge != nil %} {{ settings.product_sales_badge }} {% else %} true {% endif %},
      product_sales_badge_style: {% if settings.product_sales_badge_style != nil %} "{{ settings.product_sales_badge_style }}" {% else %} "percentile" {% endif %},
    }
  };
</script>